* {
  box-sizing: border-box;
}

body {
  background-color: rgba(34, 139, 34, 0.3);
  color: saddlebrown;
}

.hidden {
  opacity: 0;
}

.container {
  margin: 0 auto;
  width: 865px;
}

.form {
  float: left;
  padding-top: 50px;
}

.figure {
  position: relative;
  margin: 0;
  float: right;
}

p {
  font-family: 'Permanent Marker', cursive;
  margin-bottom: 10px;  
  font-size: 20px;
}

p:not(:first-of-type) {
  margin-top: 30px;
}

.input-container {
  position: relative;
}

label {
  font-family: 'Satisfy', cursive;
  font-size: 22px;
  margin-left: 25px;
}

.checkbox, .radio, .toggle {
  opacity: 0;
}

.checkbox + label::before {
  content: "";
  width: 30px;
  height: 30px;
  border: 1px solid saddlebrown;
  border-radius: 5px;
  position: absolute;
  left: 5px;
  transform: translate(0, -2px);
  background-color: lightcyan;
}

.checkbox + label::after {
  content: "\2714";
  position: absolute;
  font-size: 40px;
  left: 8px;
  top: -17px;
  color: teal;
  opacity: 0;
}

.checkbox:checked + label::after {
  opacity: 1;
}

.radio-container {
  margin-bottom: 10px;
}

.radio + label::before {
  content: "";
  border: 1px solid saddlebrown;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: lightcyan;
  left: 5px;
}

.radio + label::after {
  content: "";
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: teal;
  position: absolute;
  left: 11px;
  top: 6px;
  opacity: 0;
}

.radio:checked + label::after {
  opacity: 1;
}

.toggle + label::before {
  content: "";
  background-color: lightcyan;
  position: absolute;
  border-radius: 5px;
  width: 30px;
  height: 40px;
  border: 1px solid saddlebrown;
  left: 5px;
  top: -5px;
}

.toggle + label::after {
  content: "";
  background-color: teal;
  width: 30px;
  height: 8px;
  border-radius: 3px;
  position: absolute;
  left: 6px;
  bottom: -2px;
}

.toggle:checked + label::before {
  background-color: PaleTurquoise;
}

.toggle:checked + label::after {
  top: -2px;
}

.puppy {
  position: absolute;
  width: 160px;
  left: 145px;
  bottom: 10px;  
}

.kitty {
  position: absolute;
  width: 160px;
  left: 142px;
  bottom: 20px;
}