* {
  box-sizing: border-box;
}
.grid {
  height: 500px;
  max-width: 1024px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1px 1px;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
}

.grid > * {
  border: 2px solid green;
}

header {
  grid-area: 1 / 1 / 3 / 11;
}

footer {
  grid-area: 10 / 1 / 11 / 11;
}